* {
  background-color: #fff;
  font-family: 'Tahoma', sans-serif;
  --janela: #0055ea;
  --azul: #225ad9;
  --claro: #3980f4;
  --ocean: #1188e5;
  --green: #3e8e41;
  --red: #ff0000;
  --yellow: #F8D775;
  --bege: #ece9d8;
  --cream: #dcd8c2;
  --carbon: #75747184;
  --gray: #888;
  --lightgray: #666;
  --black: #000;
  --white: #fff;
  --sugar: #d3d3d3;
  --semi-transparent-black: rgba(0, 0, 0, 0.5);
  --shadow: rgba(0, 0, 0, 0.35);
  --gradient-red: linear-gradient(180deg, var(--red), var(--white));
  --gradient-blue: linear-gradient(180deg, var(--janela), var(--white));
  --gradient-green: linear-gradient(180deg, var(--green), var(--white));
}

@font-face {
  font-family: 'Tahoma';
  src: url('assets/fonts/tahoma.ttf') format('truetype');
}

body {
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

/* Button Standard Style */
.btn {
  padding: 5px 30px;
  background-color: var(--bege);
  border: 1px ridge var(--black);
  border-top-color: var(--white);
  border-left-color: var(--white);
  border-bottom-color: var(--gray);
  border-right-color: var(--gray);
  outline-style:solid;
  outline-width: thin;
  outline-color: var(--black);
  cursor: pointer;
  margin-top: 16px;
}

/* Shut Down End Screen */
.background {
  width:100%;
  height: 100%;
  position: absolute; 
  z-index: -1;
  filter: blur(5px); /* Adjust the blur radius as needed */
}
.windows {
  width: 200px;
  position: absolute; 
  z-index: 1;
  background-color: transparent;
  top: 30%;
  left: 45%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: '/assets/images/screen.png';
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  background-color: var(--semi-transparent-black);
  font-size: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--white);
  padding-top: 50px;
}
.message p {
  background-color: transparent;
  padding-top: 450px;
}

/* Toolbar */
.toolbar {
  width: 100%;
  position: absolute;
  background-color: var(--bege);
  border: 1px solid var(--carbon);
  padding-top: 4px;
  padding-bottom: 4px;
}
.toolbar ul{
  margin-top: 0;
  padding-left: 16px;
  font-size: 14px;
}
.toolbar li{
  float: left;
  padding-right: 16px;
  background-color: transparent;
  cursor: pointer;
  list-style: none;
}
.toolbar li:hover{
  text-decoration: underline;
  color: var(--janela);
}

/* Side Menu */
#side-menu {
  width: 400px;
  height: 100vh;
  background-color: var(--ocean);;
  color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 15px;
}

/* Side Menu Containers Heading */
.side-menu-heading {
  text-align: center;
  background: linear-gradient(180deg, var(--janela), var(--claro));
  color: var(--white);
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 0;
}

/* Settings Buttons */
.settings {
  text-align: center;
  padding-bottom: 16px;
  border: 3px solid var(--janela);
  border-radius: 3px;
  background-color: var(--bege);
  box-shadow: var(--shadow) 0px 5px 15px;
}
.setting{
  padding: 16px;
  margin-right: 16px;
  border: var(--sugar) ridge 2px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10%;
}
.setting i {
  background-color: transparent;
}
.setting-full {
  background: var(--gradient-blue)
}
.setting-clear {
  background: var(--gradient-green)
}
.setting-power {
  background: var(--gradient-red);
}
.setting-full:active {
  color: var(--white);
  box-shadow: 0 5px var(--lightgray);
  transform: translateY(4px);
}
.setting-full:hover, .setting-clear:hover, .setting-power:hover{
  box-shadow: var(--shadow) 0px 5px 15px;
}
.setting-clear:active {
  background-color: var(--green);
  color: var(--white);
  box-shadow: 0 5px var(--lightgray);
  transform: translateY(4px);
}
.setting-power:active {
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0 5px var(--lightgray);
  transform: translateY(4px);
}

/* Active Cameras */
#active-cameras-container {
  background-color: var(--white);
  height: 300px;
  color: var(--black);
  border: 3px solid var(--janela);
  border-radius: 3px;
  overflow-y: auto;
  margin-top: 0;
  padding-top: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--claro) var(--white);
  box-shadow: var(--shadow) 0px 5px 15px;
}
#active-cameras-container li {
  padding-bottom: 5px;
  list-style: none;
  user-select: none;
}
#active-cameras {
  padding-left: 16px;
}
.active-camera-icon {
  color: var(--green);
}

/* Folders And Files */
#folders {
  min-height: 400px;
  background-color: var(--white);
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--black);
  border: 3px solid var(--janela);
  border-radius: 3px;
  box-shadow: var(--shadow) 0px 5px 15px;
}
#folders li {
  padding-left: 16px;
}
.folder {
  cursor: pointer;
  user-select: none;
}
.folder .pages {
  display: none;
}
.folder.open .pages {
  display: block;
  list-style: none;
}
.folder span {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}
.folder span:hover{
  color: var(--janela);
  text-decoration: underline;
}
#folder1, #folder2 {
  color: var(--yellow);
}
.pages li {
  margin-bottom: 10px;
}
.pages li:hover {
  color: var(--janela);
  text-decoration: underline;
}

/* Main Content */
#main-content {
  flex: 1;
  padding: 30px;
  padding-top: 35px;
  box-sizing: border-box;
  float: left;
}

/* Drop Zone */
.drag-container {
  width: 80%;
  height: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* Screen (The Monitor Displayed) */
.screen {
  border-radius: 3px;
  pointer-events: none; /* Prevent dragging */
}
.screen-container {
  width: 347px;
  height: 233px;
  color: var(--white);
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  position: relative;
  border: 3px solid var(--janela);
  border-radius: 7px;
  user-select: none;
  
}
.heading {
  position: absolute;
  font-size: 12px;
  color: var(--white);
  background: linear-gradient(180deg, var(--janela), var(--claro));
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95.5%;
}
.window-fullscreen-button {
  color: var(--white); 
  background-color:transparent; 
  position:absolute; 
  margin-left:-45px; 
  margin-top:8px; 
  padding-right:1px; 
  padding-left:1px; 
  border-radius:3px;
  cursor: pointer;
}
.screen-close-button{
  color: var(--red); 
  position:absolute; 
  margin-left:-20px; 
  margin-top:8px; 
  padding-right:1px; 
  padding-left:1px; 
  border-radius:3px;
  cursor: pointer;
}

/* General Alert Window */
.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  padding-bottom: 20px;
  border: 3px ridge var(--janela);
  border-radius: 3px;
  background-color: var(--bege);
  box-shadow: var(--shadow) 0px 5px 15px;
}
.window-title {
  position: absolute;
  font-size: 18px;
  color: var(--white);
  background: linear-gradient(180deg, var(--janela), var(--claro));
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 96%;
}
.window-close-button{
  width: 20px;
  border-radius: 4px;
  padding: 1px;
  float: right;
  margin-right:10px;
  cursor: pointer;
}
.window-image {
  position: absolute;
  background-color: transparent;
}
.window p {
  margin-top: 70px;
  margin-left: 106px;
  background-color: transparent;
}

/* Error Window */
.error-image {
  margin-top: 35px;
  width: 100px;
}
.error-window-ok-button {
  margin-left: 46%;
}
.error-window-ok-button:hover {
  background-color: var(--cream);
}

/* Warning Window */
.warning-image {
  margin-top: 60px;
  margin-left: 25px;
  width: 50px;
}
.warning-confirm-button {
  margin-left: 30%;
}
.warning-cancel-button {
  margin-left:26px;
  position:absolute;
}